body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-size: 160%;
    font-family: monospace;
    text-align: center
  }
  
  #title {
    background: rgb(120, 10, 10);
    padding: 30px;
    margin: 30px;
  }
  
  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-caption {
    padding: 0;
  }
  
  h2 {
    background-color: rgb(30, 30, 30);
    font-size: 170%;
  }
  
  h3 {
    background-color: rgb(120, 10, 10);
    padding: 150px;
  }